* {
    font-family: 'arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background: rgb(12, 11, 87);
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    text-align: center;
    padding: 10px 150px;
    border-top: 4px rgb(177, 15, 47) solid;

}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 1.8em;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    padding: 20px;

}

nav a:hover {
    color: brown;

}

section {
    padding: 100px 200px;
}

.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: url(images/Picture3.png) no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;

}

.main h2 {
    color: black;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin: 10px;
    color: rgb(12, 11, 87);
    font-size: 2em;
    font-weight: 600;
}

.main2 h3 {
    font-weight: 800;
    margin-top: 6px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.mainbtn {
    color: white;
    background-color: rgb(0, 163, 0);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border-radius: 15px;
    transition: 0.7s ease;

}

.mainbtn:hover {
    background-color: rgb(0, 136, 0);
    transform: scale(1.1em)
}

.social-icons a {
    color: rgb(12, 11, 87);
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    margin-left: 70px;


}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}

.card:hover {
    transform: scale(1.1em);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 600px;
    margin: 10px;
}

.projects {
    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid white;
    min-height: 14em;
    width: 30em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}

.project-card:hover {
    transform: scale(1.1em);
}

.project-images img {
    width: 100%;
}

.project-card:hover .project-images {
    opacity: 1.9;
}

.proejct-info {
    padding: 1em;
}

.project-category {
    font-size: 14px;
    color: black;
}

.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;
}

.cards content {
    height: 900px;
    width: 100%;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: black;
}

.footer {
    background-color: #000016;
    color: white;
    padding: 2em;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

footer span {
    color: crimson;
}

.projects span {
    color: #3a6cf4;
}

.aboutbtn {
    color: white;
    background-color: #3a6cf4;
    font-size: 1.3em;
    font-weight: 700;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border-radius: 15px;
    transition: 0.7s ease;
    margin-left: 800px;


}

.aboutbtn:hover {
    background-color: #305bd1;
    font-size: 1.5em;

}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }

    .aboutbtn {
        margin-left: 400px;
    }
}